<div class='room' ng-repeat='room in rooms'>
  <div class='row'>
    <div class='col-md-10 room-title'>
      {{room.title}}
    </div>

    <div class='col-md-2 actions'>
      <p ng-show='room.owned'>
        <i class='icon-trash' ng-click='drop(room._id)'></i>
        <%= link_to content_tag(:i, '', class: 'icon-pencil'), "#/rooms/{{room._id}}/edit" %>
      </p>
      <p ng-show='!room.owned'>
        <%= button_tag 'Subscribe', 'ng-click' => '', class: 'btn btn-xs btn-success' %>
      </p>
    </div>
  </div>

  <p class='text-muted'><small>By {{room.owner.name}}</small></p>
  <p>{{room.description}}</p>
</div>
