<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <p class='room-title'>{{room.title}}</p>
      <p class='text-muted'>
        <small>By {{room.owner.name}}</small>
      </p>
      <p>{{room.description}}</p>
    </div>

    <div class='col-md-4 management-panel'>
      <p>Total Players: {{totalPlayers}}</p>
      <p ng-show='!room.owned'>
        <%= button_tag 'Join', class: 'btn btn-success', :'ng-click' => 'join(room._id)', :'ng-hide' => 'joined' %>
        <%= button_tag 'Leave', class: 'btn btn-danger', :'ng-click' => 'leave(room._id)', :'ng-show' => 'joined' %>
      </p>
    </div>
  </div>
</div>
